fastapi~=0.112.0
uvicorn~=0.30.5
python-multipart
chromadb~=0.5.5
sentence-transformers~=3.0.1
langchain~=0.2.14
PyMuPDF
langchain-groq
langchain-community~=0.2.12
langchain-core~=0.2.32
langchain-openai
pandas~=2.2.2
tqdm~=4.66.5
openai~=1.40.3
pydantic~=2.8.2
aiofiles~=24.1.0
torch~=2.4.0
transformers~=4.44.0
numpy~=1.26.4